body {
    
    background-color: rgb(254,153,217);
	border-radius: 54px;
	border-width: 0px;
	border-color: rgb(0,0,0);
	font-family: Beni;
	font-weight: 500;
	font-style: Black;
	color: rgb(255, 255, 255); 
	font-size: 50px;
	text-align: center;

}

header {
    display: flex;
    flex-direction: column; /* Coloca os elementos em coluna */
    align-items: center; /* Centraliza os itens */
    justify-content: flex-start; /* Alinha os itens no início */
    height: 100vh; /* Define a altura do cabeçalho */
}

p {


    font-size: 1.2em; /* Tamanho da fonte dos parágrafos */
    line-height: 1.6; /* Altura da linha ajustada para 1.6 */
    margin: 0 0 20px; /* Margem entre os parágrafos */
    text-align: center; /* Justifica o texto */
    text-indent: 20px; /* Adiciona um recuo no início do parágrafo */
    font-weight: 500;
    font-family: Helvetica;
    font-style: normal;
    letter-spacing: -1.2px;
    color: rgba(249, 246, 246, 1);
    font-size: 30px;
    margin-bottom: 150px;
    margin-top: 150px;

}


img {
    
        color: #007BFF; /* Cor padrão do link */
        text-decoration: none; /* Remove o sublinhado */
    }
    
    /* Efeito ao passar o mouse */
    .meu-link:hover {
        color: #000000; /* Cor ao passar o mouse */
    }
    
    /* Remove o efeito de clique */
    .meu-link:active,
    .meu-link:focus {
        color: #000000; /* Mantém a cor padrão ao clicar */
        outline: none; /* Remove o contorno quando o link é focado */
    }

